.navbar{
    background-color: var(--color-primary);
    height: 74px;
    width: 100vw;
    padding: 0px 32px;
    /* padding-left:32px;
    padding-right:64px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logoDiv{
    display: flex;
    margin: 14px;
  }