:root{

  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffffff;
  --font-sm: 12px;
  --font-md:16px;
  --font-lg:20px;
  --backgrouf-color-primary: #0000000;

}

body {
  margin: 0;
  font-family: "Poppins", san-serif;
  line-height:1.5;
  backgroud-color:var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
